.m-8 {
  margin: 2rem
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.flex-1 {
  flex: 1 1 0%
}

.border {
  border-width: 1px
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}