.flex {
  display: flex
}

.hidden {
  display: none
}

.w-32 {
  width: 8rem
}

.max-w-lg {
  max-width: 32rem
}

.flex-1 {
  flex: 1 1 0%
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}