name: Deploy Web to GitHub Pages

permissions:
  contents: write

on:
  push:
    branches:
      - main
      - stripe # TOOD: Remove this
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: stripe
          fetch-depth: 0

      - name: Prepare gh-pages branch
        run: |
          git fetch origin gh-pages
          git worktree add /tmp/gh-pages gh-pages
          rm -rf /tmp/gh-pages/*

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Install Dependencies
        run: npm install --legacy-peer-deps

      - name: Build the Web App
        run: npm run build:web
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./web-build
          publish_branch: gh-pages
          destination_dir: /tmp/gh-pages
